<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Cálculo IMC</p>
    <form action="/" method="POST">
       Peso(kg)
       <input type="text" name="Peso"><br>
       Altura(cm)
       <input type="text" name="Altura"><br>
       <button type="submit" value="submit">submit</button>
    </form>
    <p> Seu IMC é: {{imc}}</p>
    
</body>
</html>
